<div class="bg-gray-700 min-h-screen p-6">
    <h2 class="text-2xl font-bold text-white mb-4">Manage My Groups</h2>
    <h1 
        *ngIf="isSuperAdmin"
    class="text-base text-white mb-4">Accessing all groups as Super Admin</h1>
    <h1 
        *ngIf="isGroupAdmin"
    class="text-base text-white mb-4">Accessing my groups as Group Admin</h1>

    <div
        *ngIf="isGroupAdmin || isSuperAdmin"
        class="bg-gray-800 rounded-lg p-4 mb-4 shadow-md flex flex-col space-y-4 border border-gray-500"
    >
        <h3 class="text-xl font-bold text-white">Create New Group</h3>

        <div>
        <label for="group-name" class="text-white">Group Name</label>
        <input
            type="text"
            id="group-name"
            [(ngModel)]="newGroupName"
            class="mt-1 p-2 w-full bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
            placeholder="Enter group name"
        />
        </div>

        <div>
        <label for="group-description" class="text-white">Group Description</label>
        <textarea
            id="group-description"
            [(ngModel)]="newGroupDescription"
            class="mt-1 p-2 w-full bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
            placeholder="Enter group description"
            rows="3"
        ></textarea>
        </div>

        <button
        (click)="createGroup()"
        class="bg-green-500 text-white rounded-md px-4 py-2 hover:bg-green-600 w-full"
        >
        Create New Group
        </button>
    </div>

    <div *ngFor="let group of groups" class="flex flex-col">
        <div class="flex flex-col justify-between bg-gray-800 p-4 rounded-lg mb-4 border border-gray-500">
            <h2 class="pb-6 text-3xl w-full text-center font-bold text-white">{{ group.name }}</h2>


            <h2 class="text-white text-lg font-bold mb-4">Members ({{numberOfMembers(group._id)}})</h2>
            <div *ngFor="let user of group.admins" class="flex justify-between items-center w-full">
                <div class="flex items-center w-full justify-between p-2 rounded-lg bg-gray-700">

                    <div class="flex items-center">
                    <p class="text-white mr-4">{{ user.username }}</p>
                    <p class="text-gray-400">({{ user.email }})</p>
                    </div>
                    <div 
                    class="mr-2 px-2 py-1 text-xs font-semibold justify-self-end text-white bg-blue-500 rounded-full">
                    Group Admin
            </div>
                </div>
            </div>
            <div *ngFor="let user of group.members | excludeAdmins: group.admins" class="flex justify-between items-center w-full">
                <div class="flex items-center p-2 justify-between w-full">
                    <div class="flex items-center">
                    <p class="text-white mr-4">{{ user.username }}</p>
                    <p class="text-gray-400">({{ user.email }})</p>
                    </div>
                    <div class="flex items-center">

                    <div 
                            (click)="removeUser(group._id, user._id)"
                            class="mr-2 px-2 py-1 text-xs font-semibold justify-self-end text-white bg-orange-700 rounded-md">
                            Remove from group
                    </div>
                    <div 
                            (click)="openBanModal(group._id, user._id)"
                            class="mr-2 px-2 py-1 text-xs font-semibold justify-self-end text-white bg-red-700 rounded-md">
                            Ban from a channel
                    </div>
                    <div 
                            (click)="openReportModal(user._id)"
                            class="mr-2 px-2 py-1 text-xs font-semibold justify-self-end text-white bg-gray-500 rounded-md">
                            Report to super admin
                    </div>
                </div>
                </div>
            </div>

            <!-- Pending requests to join -->
            <h2 class="text-white text-lg font-bold pt-8">Pending Requests ({{numberOfMemberRequests(group._id)}})</h2>
            <div *ngFor="let user of group.memberRequests" class="flex justify-between items-center w-full">
                <div class="flex items-center p-2 justify-between w-full">
                    <div class="flex items-center">
                    <p class="text-white mr-4">{{ user.username }}</p>
                    <p class="text-gray-400">({{ user.email }})</p>
                    </div>
                    <div class="flex items-center">

                    <div 
                        (click)="approveUser(group._id, user._id)"
                            class="mr-2 px-2 py-1 text-xs font-semibold justify-self-end text-white bg-green-500 rounded-md">
                            Accept into group
                    </div>
                    <div 
                        (click)="rejectUser(group._id, user._id)"
                            class="mr-2 px-2 py-1 text-xs font-semibold justify-self-end text-white bg-red-700 rounded-md">
                            Reject request
                    </div>
                </div>
                </div>
            </div>


            <!-- Channels -->
            <h2 class="text-white text-lg font-bold pt-8">Channels</h2>

            <div (click)="openChannelModal(group._id)" class="px-2 my-2 py-2 flex max-w-[150px] text-center justify-center text-xs font-semibold text-white bg-green-500 rounded-md">
                Create New Channel +
            </div>

            <!-- Display existing channels -->
            <div *ngFor="let channel of group.channels" class="flex justify-between items-center w-full">
                <div class="flex flex-col w-full p-2 mb-2 rounded-lg bg-gray-700">
                <div class="flex items-center w-full justify-between">
                    <div class="flex items-center">
                        <p class="text-white mr-4">{{ channel.name }}</p>
                    </div>
                    <div class="flex items-center">
                        <div
                            (click)="deleteChannel(group._id, channel._id)"
                        class="mr-2 px-2 py-1 text-xs font-semibold justify-self-end text-white bg-red-700 rounded-full">
                            Delete channel
                        </div>
                    </div>


                </div>
                <div *ngIf="channel.bannedUsers.length > 0" class="flex mt-8 bg-gray-600 rounded-sm p-4 flex-col">
                    <h2 class="text-white text-base ">Banned Users</h2>
                    <div *ngFor="let user of channel.bannedUsers" class="flex justify-between items-center w-full">
                        <div class="flex items-center p-2 justify-between w-full">
                            <div class="flex items-center">
                                <div class="bg-red-500 rounded-full h-1.5 w-1.5 mr-2"></div>
                            <p class="text-white mr-4">{{ user.username }}</p>
                            <p class="text-gray-400">({{ user.email }})</p>
                        </div>
                    </div>
                    </div>



            </div>
                </div>
            </div>
        </div>       
    </div>

      <!-- Modal for creating a new channel -->
    <div *ngIf="isModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-gray-800 p-6 rounded-lg shadow-md w-96">
        <h2 class="text-xl font-bold text-white mb-4">Create New Channel</h2>
        <div>
            <label for="channel-name" class="text-white">Channel Name</label>
            <input
            type="text"
            id="channel-name"
            [(ngModel)]="newChannelName"
            class="mt-1 p-2 w-full bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
            placeholder="Enter channel name"
            />
        </div>
        <div class="mt-4">
            <label for="channel-description" class="text-white">Channel Description</label>
            <textarea
            id="channel-description"
            [(ngModel)]="newChannelDescription"
            class="mt-1 p-2 w-full bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
            placeholder="Enter channel description"
            rows="3"
            ></textarea>
        </div>

        <div class="flex justify-end space-x-4 mt-4">
            <button (click)="createChannel()" class="bg-green-500 text-white rounded-md px-4 py-2 hover:bg-green-600">
            Create
            </button>
            <button (click)="closeChannelModal()" class="bg-red-500 text-white rounded-md px-4 py-2 hover:bg-red-600">
            Cancel
            </button>
        </div>
        </div>
    </div>

    <!-- Modal for banning a user from a channel -->
  <div *ngIf="isBanModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-gray-800 p-6 rounded-lg shadow-md w-96">
      <h2 class="text-xl font-bold text-white mb-4">Ban User from Channel</h2>
      <div>
        <label for="select-channel" class="text-white">Select Channel</label>
        <select
          id="select-channel"
          [(ngModel)]="selectedChannelId"
          class="mt-1 p-2 w-full bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
        >
          <option *ngFor="let channel of currentGroupChannels" [value]="channel._id">
            {{ channel.name }}
          </option>
        </select>
      </div>

      <div class="flex justify-end space-x-4 mt-4">
        <button (click)="banUserFromChannel()" class="bg-red-500 text-white rounded-md px-4 py-2 hover:bg-red-600">
          Ban User
        </button>
        <button (click)="closeBanModal()" class="bg-gray-500 text-white rounded-md px-4 py-2 hover:bg-gray-600">
          Cancel
        </button>
      </div>
    </div>
  </div>

  <!-- Modal for reporting a user -->
<div *ngIf="isReportModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-gray-800 p-6 rounded-lg shadow-md w-96">
      <h2 class="text-xl font-bold text-white mb-4">Report User</h2>
      <div>
        <label for="report-message" class="text-white">Reason for Reporting</label>
        <textarea
          id="report-message"
          [(ngModel)]="reportMessage"
          class="mt-1 p-2 w-full bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Enter the reason for reporting"
          rows="4"
        ></textarea>
      </div>
  
      <div class="flex justify-end space-x-4 mt-4">
        <button (click)="reportUser(currentUserId, reportMessage)" class="bg-red-500 text-white rounded-md px-4 py-2 hover:bg-red-600">
          Report
        </button>
        <button (click)="closeReportModal()" class="bg-gray-500 text-white rounded-md px-4 py-2 hover:bg-gray-600">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>