<div class="bg-gray-700 min-h-screen p-6">
  <div class="flex justify-between">
    <h2 class="text-2xl font-bold text-white mb-4">Group {{ groupId }}</h2>
    <button
      (click)="leaveGroup()"
      class="border-2 border-white rounded-md p-2 text-white"
    >
      <p>Leave Group</p>
    </button>
  </div>
  <h3 class="text-xl font-semibold text-white mb-2">Channels</h3>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
    <div
      *ngFor="let channel of channels"
      class="bg-gray-800 rounded-lg p-4 shadow-md cursor-pointer"
      (click)="navigateToChannel(channel)"
    >
      <h4 class="text-xl font-semibold text-white">{{ channel.title }}</h4>
      <p class="text-gray-400">Chats: {{ channel.chats }}</p>
      <p class="text-gray-400">Last Message: {{ channel.lastMessage }}</p>
      <p class="text-gray-400">
        Last Message Time: {{ channel.lastMessageTime }}
      </p>
      <div class="text-sm text-green-500" *ngIf="channel.unreadMessages > 0">
        {{ channel.unreadMessages }} unread messages
      </div>
      <div class="text-sm text-gray-500" *ngIf="channel.unreadMessages === 0">
        No unread messages
      </div>
    </div>

    <div
      class="bg-gray-800 rounded-lg p-4 shadow-md flex items-center justify-center"
    >
      <button
        class="bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-600 w-full"
      >
        Add New Channel
      </button>
    </div>
  </div>

  <h3 class="text-xl font-semibold text-white mb-2">Members</h3>
  <div class="space-y-4">
    <div
      *ngFor="let member of members"
      class="bg-gray-800 rounded-lg p-4 shadow-md"
    >
      <div class="flex items-center justify-between">
        <div>
          <h4 class="text-xl font-semibold text-white">{{ member.name }}</h4>
          <p class="text-gray-400">{{ member.bio }}</p>
        </div>
        <div
          *ngIf="member.isAdmin"
          class="bg-green-600 text-white font-medium text-sm px-3 py-1 rounded-full"
        >
          Admin of this group
        </div>
      </div>
    </div>
  </div>
</div>
